@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

/* Pages */

/* Catalog Filter Header */

.catalog-header {
  background-image: url("../images/filter-background.jpg");
  background-color: rgba(131, 179, 211, 0.20);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.price,
.price-input {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-input {
  font-weight: 700;
}

.price-input::placeholder {
  color: #000000;
}

/* Navigation */

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.favorite-number {
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
}

.reset-button {
  background: none;
  border: none;
}

.submit-button {
  background-color: #82b3d3;
  border: none;
}

/* Hero */

.hero {
  background-image: url("../images/header-index-background.jpg");
  background-color: rgba(131, 179, 211, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Titles */

.headline {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

/* Advantages and Services */

.advantages,
.services {
  text-align: center;
}

.advantages-item,
.services-item {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title,
.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .advantages-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

/* Search */

.search {
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */

.index-subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe-index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.index-subscribe .headline {
  color: #ffffff;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border: none;
}

.email-input {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* Catalog Products*/

.select-priority {
  font-size: 18px;
  line-height: 21px;
}

.filter-button {
  text-decoration: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.favourite-card-button-add {
  background-color: #82b3d3;
  border: none;
}

.favourite-card-button {
  background-color: #7db54f;
  border: none;
}

.product-card-property-type,
.product-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Pagination */

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.dots {
  background: none;
  color: #000000;
}
